<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post: <%= post.id %> </title>
</head>
<body>
    <h1>Post: <%= post.id %> </h1>

    <ul>
        <li><p>Username: <%= post.username %> </p></li>
        <li><p>Content: <%= post.content %> </p></li>
    </ul>
</body>
</html>